<nav class="navbar navbar-light bg-light navbar-expand-md bg-faded justify-content-center bff_navbar">
  <div class="container-fluid">
    <%= link_to(image_tag("select_bff_logo.png", class: "logo_img"), home_path) %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right nav-bar-container" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
         <li class="nav-item nav-item-home <%= 'active' if current_page?('/home') %>">
            <%= link_to "HOME", home_path, class: "nav-link" %>
         </li>
         <div class="vertical-line"></div>
         <li class="nav-item nav-item-menu  <%= 'active' if current_page?('/menu') %>">
            <%= link_to "MENU", menu_path, class: "nav-link" %>
         </li>
         <div class="vertical-line"></div>
         <li class="nav-item nav-item-about <%= 'active' if current_page?('/about') %>">
            <%= link_to "ABOUT", about_path, class: "nav-link" %>
         </li>
         <div class="vertical-line"></div>
         <li class="nav-item nav-item-contact <%= 'active' if current_page?('/contact') %>">
            <%= link_to "CONTACT", contact_path, class: "nav-link" %>
         </li>
      </ul>
    </div>
  </div>
</nav>